/* main color background: #E5E5E5;  */
body {
  background-color: #ffffff;
  color: #212121;
}
.list {
  list-style: none;
}
.logo-part {
  color: #2196f3;
}

/* nav section */

/* logo */
.logo {
  color: #000000;
}
/* nav */
.nav .link {
  color: #212121;
}
.nav .link:hover,
.nav .link:focus {
  color: #2196f3;
}
/* contacts */
.contacts .link {
  color: #757575;
}
.contacts .link:hover,
.contacts .link:focus {
  color: #2196f3;
}
