:root {
  --primary-text-color: #212121;
  --text-color-hover: #2196f3;
  --accent-color: #ffffff;
}
/* main color background: #E5E5E5;  */
body {
  background-color: #ffffff;
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}
/* header */
.logo-part-one {
  color: var(--text-color-hover);
}

/* nav section */

/* logo */
.logo {
  color: #000000;
}
/* nav */
.nav .link {
  color: var(--primary-text-color);
}
.nav .link:hover,
.nav .link:focus {
  color: var(--text-color-hover);
}

/* contacts */
.contacts .link {
  color: #757575;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--text-color-hover);
}
/* main */

/* hero */
.hero-title {
  color: ;
}
.hero-button {
  color: var(--accent-color);
  background-color: var(--text-color-hover);
}
/* section with features of the company */
.section-item {
  color: #757575;
}
/* section team */
.section-team {
  background-color: #f5f4fa;
}
.list .link:hover,
.list .link:focus {
  color: var(--text-color-hover);
}
/* footer */
.footer {
  background-color: #2f303a;
}
.adrress {
  color: var(--accent-color);
}
.logo-part-two {
  color: var(--accent-color);
}
.adrress-contacts {
  color: rgba(255, 255, 255, 0.6);
}
.join-in {
  color: var(--accent-color);
}
.site-developers > p {
  color: rgba(255, 255, 255, 0.4);
}

/* Portfolio */
